<h1>Lista de productos</h1>
<div>
    {{#each products}}
    <div>
        <p>Name: {{name}}</h2>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
        <p>Category: {{category}}</p>
        <img>Image: {{thumbnail}}</img>
        <p>stock: {{stock}}</p>
        <p>ID: {{_id}}</p>
        <a href="product/{{_id}}"> Ir al producto</a>
        <button class="addProductButton" data-product-id={{_id}} id="addProductButton">Agregar al
            carrito</button>
    </div>
    {{/each}}

</div>
{{#if hasNextPage}}
<a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}
{{#if hasPrevPage}}
<a href="/products?page={{previousPage}}">Anterior</a>
{{/if}}
<script type="module" src="/main.js"></script>